/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(Home-Background.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	margin: 0em 0em;
	padding-bottom: 5em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid; 
	grid-template-columns: 2fr 1fr;
	background: rgb(205 205 205);
	padding: 1em .5em;
	}

h1 {
	width: 10em;
	}

h2, h3, h4 {
	font-family: "roadway", sans-serif;
	font-weight: 400;
	font-style: normal;
	}

h2 {
	font-size: 2em;
	margin: .75em .5em .5em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1.25em .8em 1em;
}

h4{
	font-size: 1.25em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: end;
	font-family: "houschka-pro", sans-serif;
	font-weight: 500;
	font-style: normal;
}
	
ul li 	{
	list-style-type: none;
}

main ul li{
	margin: 1em;
}

figure {
	margin: 1em;
}

main.menu ul {
	padding: 1em .75em;
	font-family: "stevie-sans", sans-serif;
	font-weight: 400;
	font-style: normal;	
}	

main.menu ul li {
	margin: .5em .25em .25em;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}	

body {
	font-family: "stevie-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	margin: 1em 1.25em 2em;
	font-family: "stevie-sans", sans-serif;
	font-weight: 400;
	font-style: normal;	
	}
	
p.description {
	grid-column: 1/3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1;
	grid-column: 3;
	color: rgb(126 29 32);
	text-align: end;
	margin: .05em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(205 205 205);
	background-color: rgb(126 29 32);
	padding: .35em .45em .35em;
	}
	

p.slogan {
	font-size: 3.5em;
	font-family: "stevie-sans", sans-serif;
	font-weight: 100;
	font-style: italic;
	margin: 1em .5em 2em;
	color: rgb(250 250 250);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  margin-top: 1em;
  background: rgb(205 205 205);
}

address {
	color: rgb(150 150 150);
	margin: 0em 1em 0em;
	font-family: "stevie-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	}

footer p {
	margin: 0em;
}

nav ul li.selected a { 
	color: rgb(126 29 32);
	background-color: rgb(250 250 250);
}

@media screen and (min-width: 60em) {

	article{
		margin: 0em 20em;
		align-content: center;
	}

	nav ul {
		display: flex;
		justify-content: space-evenly;
		margin: 1em; 
		font-size: 1.25em;
	}

	div.home-container {
		margin: auto;
		max-width: 80em;
	}

	div.container {
		margin: auto;
		max-width: 80em;
		background-color: rgb(250 250 250);
	}

	body {
			background-color: rgb(126 29 32);
		}

	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5em;
	}	
	
}
